.btn {
	background-color: transparent;
    border: none;
}

.text {
	font-size: 5rem;
	background-image: linear-gradient(45deg, #4863ae, #5bd93f);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-moz-background-clip: text;
	-moz-text-fill-color: transparent;
    filter: drop-shadow(3px 3px 5px black)
}

.text:hover {
    cursor: pointer;
	background-image: linear-gradient(45deg, #2b4faf, #2eab11);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-moz-background-clip: text;
	-moz-text-fill-color: transparent;
    filter: drop-shadow(3px 2px 2px black)
}

@media (max-width: 500px) {
	.text, .text:hover {
		font-size: 2rem;
	}
}