@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
}

.outer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  background-color: #141414;
  height: 100vh;
  width: 100vw;
}

.display-container {
  display: flex;
  gap: 2rem;
  align-items: center;
}

h2 {
  font-family: 'monoton';
  font-size: 1.25rem;
  letter-spacing: .2rem;
  font-weight: normal;
  color: white;
  text-align: center;
}

h1 {
  color: white;
  display: flex;
  align-items: center;
}

.react {
 max-height: 2rem;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  position: fixed;
  bottom: 1%;
  left: 50%;
  transform: translateX(-50%);
}

.title {
  font-family: 'Monoton', sans-serif;
  font-size: 5rem;
	background-image: linear-gradient(90deg, #4863ae, #5bd93f);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-moz-background-clip: text;
	-moz-text-fill-color: transparent;
    filter: drop-shadow(3px 3px 5px black)
}

@media (max-width: 500px) {
  .title {
    font-size: 3rem;
  }

  .wrapper {
    width: 100%;
  }

  h2 {
    font-size: auto;
  }

  .display-container {
    gap: .5rem;
  }

}
